doctype html
html
  head
    title Gocodewith.me
    link(rel='stylesheet', href='../build/application.css')
    script(type='text/javascript' src='../build/application.js')
    style(class='js-current-font')
  body
    #meta(style="display: none;" data-user-name=user.username)
    if message != ''
      .message
        .message__text #{message}
    header.header.header--dark
      .header__logo
        b.header__logo__name Gocodewith.me
      .header__control
        .control__theme
          select.custom-select.js-editor-change-theme
            -for(var name in themes)
              option(value="#{themes[name]}" selected=settings.theme==themes[name])= themes[name]
        .control__editor-mode
          input.js-editor-change-lightmode(type='checkbox' checked=settings.lightMode)
          span light mode
        .control__font-size
          select.custom-select.control__font-size-list.js-editor-change-font-size
            each size in [12, 13, 14, 15, 16]
              option(value='#{size}px' selected=settings.fontSize=='#{size}px')= size + ' px'
        .control__languages
          select.custom-select.js-editor-change-syntax
            -for(var name in syntaxes)
              option(value="#{name}" data-syntax-mode="#{syntaxes[name].mode}" selected=settings.syntaxName==name)= name
        .control__fonts
          select.custom-select.js-editor-change-font
            -for(var name in fonts)
              option(value="#{name}" selected=settings.font==name)= name
    .layout
      aside.sidebar.sidebar--dark
        ul.sidebar__users
      section.editor
        textarea#docEditor
    script#user-tpl(type='template')
      <li id="<%= id %>" class="sidebar__users__item" style="color: <%= color %>"><%= title %></li>
    style(class='js-current-theme')
