doctype html
html
  head
    link(rel='stylesheet', href='../build/application.css')
    script(type='text/javascript' src='../build/application.js')
    style(class='js-current-font')
  body
    #user_meta(style="display: none;" data-user-name=user.username)
    if message != ''
      .message
        .message__text #{message}
    header.header.header--dark
      .header__logo
        b.header__logo__name Gocodewith.me
      .header__control
        .control__theme
          select.custom-select.control__theme-list
        .control__editor-mode
          img(src='../blocks/header/moon.svg')
          input.js-switch.js-editor-mode-switch(type='checkbox')
          img(src='../blocks/header/sun.svg')
        .control__font-size
          select.custom-select.control__font-size-list.js-font-size
            each size in [12, 13, 14, 15, 16]
              option(value='#{size}px')= size + ' px'
        .control__languages
          select.custom-select.js-editor-change-language
            -for(var name in languages)
              option(value="#{languages[name].mode}")= name
        .control__fonts
          select.custom-select.js-editor-change-font
            -for(var name in fonts)
              option(value="#{fonts[name].value}" data)= name
    .layout
      aside.sidebar.sidebar--dark
        ul.sidebar__users
      section.editor
        textarea#docEditor
    script#user-tpl(type='template')
      <li id="<%= id %>" class="sidebar__users__item" style="color: <%= color %>"><%= title %></li>
    script(class='js-current-syntax')
